.crawler-shape {
    padding: 6px 12px 12px 12px;
    text-wrap: none;
    width: 100%;
    height: 100%;

    .icon {
        font-size: 20px;
    }

    .title {
        font-size: 16px;
        font-weight: 900;
    }

    .tag {
        font-family: Yozai, sans-serif;
    }
}