.crawler-shape {
    padding: 8px 15px 15px 12px;
    text-wrap: none;

    .icon {
        font-size: 58px;
    }

    .title {
        font-size: 16px;
        font-weight: bold;
    }

    .tag {
        font-family: Yozai, sans-serif;
    }
}